<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<div>

    <!--=============HEADER===============-->
    {% block header %}<h1>
        Welcome Game Collector!!</h1>
        {% endblock header %}

    <!--===========HELLO USER==============-->
    {% if user.is_authenticated %}

    Hello, {{ user.username }}!!!

    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}

    <p>You are currently NOT logged in. Please log in to add to your favorite games.</p>

    {% endif %}
    <hr/>


    {% block content %}
    {% endblock content %}
</div>
</body>
</html>