<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<div>

    <!--=============HEADER===============-->
    <h1>{% block header %}
        Welcome Game Collector!!
        {% endblock header %}
    </h1>
    <!--===========HELLO USER==============-->
    {% if user.is_authenticated %}

    Hello!!! {{ user.username }}!

    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}

    <p><a href="{% url 'login' %}">Login</a></p>
    Hello, {{ user.username }}!!!
    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <p>You are currently NOT logged in. Please log in to add to your favorite games.</p>

    {% endif %}
    <hr/>


    {% block content %}
    {% endblock content %}
</div>
</body>
</html>